version: "3.9"

services:
  nginx:
    image: nginx:1.29.3-alpine
    restart: always
    ports:
      - 80:80

  db:
    image: postgres:18.1-alpine3.21
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - 8080:8080

  redis:
    image: redis:8.4.0-alpine
    restart: always
    ports:
      - 6379:6379

volumes:
  db_data:
